.container {
   max-width: 1200px;

   @media (max-width: 1200px) {
      max-width: 990px;
   }

   @media (max-width: 990px) {
      max-width: 767px;
   }

   @media (max-width: 767px) {
      max-width: none;
   }

   @media (max-width: 575px) {
      max-width: none;
   }
}
