//? Переменные
$minwidth: 420;
$mw: 1100;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 624.98;
//? Переменные

.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1 + px) {
      max-width: 970px;
   }

   @media (max-width: $md2+px) {
      max-width: 750px;
   }

   @media (max-width: $md3+px) {
      max-width: none;
   }

   @media (max-width: $md4+px) {
      max-width: none;
   }
}
