//? Переменные
$minwidth: 420;
$mw: 1200;
$md1: $mw;
$md2: 993;
$md3: 768;
$md4: 625;
//? Переменные

.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1+px) {
      padding: 0px 10px;
   }

   @media (max-width: $md2+px) {
      //max-width: 750px;
   }

   @media (max-width: $md3+px) {
      max-width: none;
   }

   @media (max-width: $md4+px) {
      max-width: none;
   }
}
