@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

body {
  font-size: 20px;
  display: flex;
  img {
    width: 100%;
  }
}

span {
  font-size: 18px;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

div {
  background: url("./../img/20170721_120127.jpg") 0 0 no-repeat;
  font-size: 30px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
